.post {
  width: 100%;
  box-shadow: 3px 7px 13px -10px #402e60;
  border-radius: 10px;
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postUsername {
  font-size: 15px;
  font-weight: 550;
  margin: 0 10px;
}
.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  // margin-top: 40px;
  width: 80%;
  margin: 0 auto;
  max-height: 500px;
  object-fit: cover;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  border-bottom: 1px solid gray;
  font-size: 15px;
  margin-right: 3px;
}

.postText {
  margin-left: 50px;
  padding-bottom: 20px;
}
