:root {
  --bg-colorful: linear-gradient(to right, rgb(174, 0, 255), pink);
}

html {
  background: var(--bg-colorful);
}

// ============= ログイン関係 =================
.signup_link {
  color: rgb(188, 187, 187);
  display: inline-block;

  &:hover {
    color: aquamarine;
    transition: 0.4s ease;
  }
}

// スクロールバーのカスタマイズ ===============
// https://wemo.tech/535
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #aba9a9;
  border-left: solid 1px #ececec;
  border-radius: 0px 3px 3px 0px;
}

::-webkit-scrollbar-thumb{
  background: #747272;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

// ================== スクロールバーのカスタマイズ

.login_bg {
  background: linear-gradient(to right, blue, rgb(221, 113, 131));
}

.login_bg_opacity {
  background-color: rgb(139, 130, 130, 0.4);
  &:hover {
    background-color: rgb(139, 130, 130, 0.2);
  }
}


// ========= Home ===========

.homeContainer {
  display: flex;
  width: 100%;

  // position: relative;
  // z-index: 0;

}

// =========== sidebar =================
.sidebar {
  height: 100vh;
  width: 250px;
  border-right: 1px solid black;
  position: fixed;

}

@media screen and (max-width: 1280px) {
  .sidebar {
    width: 200px;
    border-right: 1px solid black;

    ul {
      float: right;
      margin-right: 10px;
    }
  }
}

.sidebar_items {
  &:hover {
    color: rgb(101, 11, 154, 0.7);
    transition: 0.4s ease;
  }
}

.post_side_icon {
  color: blue;
}

// =========== timeLine ===============
.timeLine {
  margin-left: 250px;
}



// ============= Profile ===================
.profile {
  position: relative;
  z-index: 0;
}

.profileRight {
    margin-left: 250px;
}

@media screen and (max-width: 1280px) {
  .profileRight {
    margin-left: 200px;
  }
}


.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.profileInfo {
  margin-top: 20px;
  margin: 0 15px;
}
.profileUserImg {
  position: absolute;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  top: 170px;
}

.profileEditButton {
  position: absolute;
  right: 40px;
  top: 270px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

}

.profileInfoName {
  font-size: 24px;
}

.profileInfoUsername {
  margin-bottom: 5px;
}

.profile_icons {
  margin-top: 20px;
  display: flex;
}

.profile_icon {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.profile_icon2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
  span {
    margin-left: 10px;
  }
}
.profile_icon3 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  span {
    margin-left: 10px;
  }
}

.follow_profile {
  display: flex;
  margin-top: 10px;

  span {
    color: #747272;
  }

  p {
    margin-right: 7px;
  }
}

.profile_tabs {
  .tablist {
    background: rgb(107, 103, 103, 0.8);
    text-align: center;

    h2 {
      padding: 2px 5px;
      // margin-right: 10px;
    }
  }

  .tabPanel {
    margin-top: 10px;
  }
}
