.login_bg {
  background: linear-gradient(to right, blue, rgb(221, 113, 131));
}

.login_bg_opacity {
  background-color: rgb(139, 130, 130, 0.4);
  &:hover {
    background-color: rgb(139, 130, 130, 0.2);
  }
}


// ========= Home ===========
.homeContainer {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}

// =========== sidebar =================
.sidebar {
  flex: 2;
  height: 100vh;
  border-right: 1px solid black;


}

@media screen and (max-width: 1280px) {
  .sidebar {
    flex: 1.5;
    height: 100vh;
    border-right: 1px solid black;

    ul {
      float: right;
      margin-right: 10px;
    }

  }
}

// =========== timeLine ===============
.timeLine {
  flex: 9.5;
}
