.login_bg {
  background: linear-gradient(to right, blue, rgb(221, 113, 131));
}

.login_bg_opacity {
  background-color: rgb(139, 130, 130, 0.4);
  &:hover {
    background-color: rgb(139, 130, 130, 0.2);
  }
}


// ========= Home ===========
.homeContainer {
  display: flex;
  width: 100%;
  background-color: aquamarine;
}

// =========== sidebar =================
.sidebar {
  flex: 3;
  height: 100vh;
}

// =========== timeLine ===============
.timeLine {
  flex: 9;
}
